@media only screen and (max-width: 1050px) {
    #parent > #child1 > section {
        width: 500px;
        margin: auto;
      }
      #child1{
          height: 500px !important;
      }
      #child1{
          min-width: 800px !important;
      }
      #child1 > section > div > h3{
          font-size: 18px !important;
      }
    #divinput > form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: -20px;
    }
   #divinput form input{
        margin : 10px;
        width: 100% !important;
    }
    #child1 > section > div:nth-of-type(2) > p{
        display: none;
    }
   #child2{
    min-width: 800px !important;
   }
    #parent > #child2 > section {
        width: 500px;
        margin: auto;
      }
    #divchild2{
        display: inline-block !important;
        margin-top: 0 !important;
        margin: auto !important;
        width: 500px !important;
    }
    #child2 > section > div div div{
        display: none !important;
    }
    #divchild2> div{
        margin: 40px auto;
        margin-top: -20px;
        width: 70% !important;

    }
    #child3>section{
        justify-content: flex-start !important;
        margin-left: 220px !important;
    }
    #child4{
        padding-bottom: 200px !important;
    }
    #child4 > section >h3{
        display: inline-block !important;
        margin: auto !important; 
        width: 70% !important;
        
    }
    #divchild4{
        flex-direction: column;
    }
}
